<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482716040648-vmtm28sjt282j779t39km93hvo0ed0e4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482716040648-vmtm28sjt282j779t39km93hvo0ed0e4</string>
	<key>API_KEY</key>
	<string>AIzaSyDQlIhYnBrTm7lc50FEdOPyLNMXeCjLIr4</string>
	<key>GCM_SENDER_ID</key>
	<string>482716040648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chenmo.HangoutPlanner</string>
	<key>PROJECT_ID</key>
	<string>hangout-planner-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hangout-planner-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482716040648:ios:1b48c248bbd79a2e0154fd</string>
	<key>DATABASE_URL</key>
	<string>https://hangout-planner-app.firebaseio.com</string>
</dict>
</plist>